div.dialog-cl-body {
  flex: 0 1 auto;
  width: 100%;
  overflow-y: auto;
  padding: 0.5em;

  p:first-child, h1:first-child, h2:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

